.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background: #35424a;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
}

nav {
  background: #e8491d;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #35424a;
  color: #ffffff;
  position: relative;
  bottom: 0;
  width: 100%;
}
